@page "/daily-scrum"
@using DailyScrum.Blazor.Components.Components

@* @using DailyScrum.Blazor.Components.Components *@

<PageTitle>Daily Scrum</PageTitle>

<h1>Daily Scrum</h1>

Let's make the daily scrum great again.

<div class="generated-email">

    @* <component type="typeof(Foo)" render-mode="Static" param-Text="@("Hi SSWBenchMasters,")" /> *@

    <Heading Text="Foo," />

    <Heading Text="Hi SSWBenchMasters," />
    @*     <h3 style='font-size:12.0pt;font-family:"Calibri Light",sans-serif; *@
    @* mso-fareast-font-family:"Times New Roman";color:#C83C3C;font-weight:normal'>Hi SSWBenchMasters,</h3> *@

    <ul>
        <li>I have ♾️ days until my next client booking.</li>
        <li>I have 77 emails in my inbox</li>
        <li>My Trello board is at Daniel Mackay - SSW Backlog | Trello</li>
        <li>I have joined my Daily Scrum meeting ✅</li>
    </ul>

    @* <component type="typeof(Foo)" render-mode="Static" param-Text="@("Yesterday I worked on:")" /> *@

    <ul>
        <li>EasyLeave</li>
        <ul>
            <li>✅ Email - EasyLeave - Project Approval and Kick-Off</li>
        </ul>

        <li>SAW</li>
        <ul>
            <li>✅ Email - Clean Architecture Workshop - Agenda Review</li>
            <li>Domain Model - Re-Design</li>
        </ul>

        <li>Brainstorming</li>
        <ul>
            <li>Meeting - Idea Champion</li>
        </ul>

        <li>✅ Email - TinaCMS - UX Roadmap - Chewing the Fat 📈</li>
    </ul>

    @* <component type="typeof(Foo)" render-mode="Static" param-Text="@("Today I'm Working On::")" /> *@

    <ul>
        <li>EasyLeave</li>
        <ul>
            <li>Email - EasyLeave - Architecture Review</li>
            <li>Meeting - Project kick off</li>
            <li>Setup Team</li>
        </ul>

        <li>EagleEye</li>
        <ul>
            <li>Meeting - Refinement</li>
            <li>Review - Ricks Design for history job</li>
            <li>Email - SSW.EagleEye Repo - Visibility</li>
        </ul>

        <li>YakShaver</li>
        <ul>
            <li>Review - Isabels PR</li>
            <li>Review - GitHub auth work</li>
        </ul>
    </ul>

    <p>
        &lt;This email was sent as per <a href="https://my.sugarlearning.com/SSW/items/8291">https://my.sugarlearning.com/SSW/items/8291</a> /&gt;
    </p>
</div>
