@page
@model DailyScrumGenerator.Features.GenerateDailyScrum.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>My Razor Page</h1>
</div>
</body>
</html>
