@page "/daily-scrum"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Graph.Models
@using System.ComponentModel.DataAnnotations
@using WebUI.Common.Services
@inject NavigationManager NavigationManager
@inject TimeProvider TimeProvider

<PageTitle>Daily Scrum</PageTitle>

<h1>Daily Scrum</h1>

<p>Let's make the daily scrum great again.</p>

<EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit" FormName="generate">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group" style="margin-bottom: 20px">
        <label for="clientDays">Days until client booking:</label>
        <InputText id="clientDays" class="form-control" @bind-Value="Model.ClientDays"/>
    </div>

    <div class="form-group" style="margin-bottom: 20px">
        <label for="lastWorkingDay">Last Working Day:</label>
        <InputDate id="lastWorkingDay" class="form-control" @bind-Value="Model.LastWorkingDay"/>
    </div>

    <button type="submit" class="btn btn-primary">Create Email</button>
</EditForm>

@code {
    [SupplyParameterFromForm] private DailyScrumInputModel Model { get; set; } = new();

    private void HandleValidSubmit()
    {
        // Handle the form submission here.

        // NOTE: This throws an exception, but apparently it's expected 🤦
        // https://github.com/dotnet/aspnetcore/issues/50478
        var url = $"/daily-scrum/preview?clientDays={Model.ClientDays}&lastWorkingDay={Model.LastWorkingDay.ToString("O")}";
        NavigationManager.NavigateTo(url, true);
    }

    public class DailyScrumInputModel
    {
        // NOTE: THis needs to be a string due to the following bug with nullable fields
        // https://github.com/dotnet/aspnetcore/issues/52195
        public string ClientDays { get; set; } = String.Empty;

        public DateOnly LastWorkingDay { get; set; }
    }

    protected override void OnInitialized()
    {
        if (Model.LastWorkingDay == default)
            Model.LastWorkingDay = TimeProvider.GetToday().AddDays(-1);
    }
}
