@page "/daily-scrum/preview"
@using WebUI.Features.DailyScrum.Components
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Daily Scrum</PageTitle>

<h1>Daily Scrum - Preview</h1>

<div class="generated-email">

    <Heading Text="Hi SSWBenchMasters," />

    <Summary Model="dailyScrum.Summary" />

    <Heading Text="Yesterday I worked on:" />

    <TaskList Projects="dailyScrum.YesterdaysProjects" Tasks="dailyScrum.YesterdaysTasks" />

    <Heading Text="Today I'm working on:" />

    <TaskList Projects="dailyScrum.TodaysProjects" Tasks="dailyScrum.TodaysTasks" />

    <p>
        &lt;This email was sent as per <a href="https://my.sugarlearning.com/SSW/items/8291">https://my.sugarlearning.com/SSW/items/8291</a> /&gt;
    </p>
</div>

@code {

    private DailyScrumModel dailyScrum;

    protected override void OnInitialized()
    {
        dailyScrum = new DailyScrumModel
        {
            Summary = new()
            {
                DaysUntilNextBooking = 99,
                InboxCount = 72,
                TrelloBoardUrl = "https://trello.com/b/yourboard",
            },
            YesterdaysProjects = [
                new ProjectModel
                {
                    Name = "EasyLeave",
                    Tasks =
                    [
                        new() { Status = TaskStatus.Done, Name = "Email - EasyLeave - Project Approval and Kick-Off" }
                    ]
                },
                new ProjectModel
                {
                    Name = "SAW",
                    Tasks =
                    [
                        new() { Status = TaskStatus.Done, Name = "Email - Clean Architecture Workshop - Agenda Review" },
                        new() { Status = TaskStatus.Todo, Name = "Domain Model - Re-Design" }
                    ]
                },
                new ProjectModel
                {
                    Name = "Brainstorming",
                    Tasks =
                    [
                        new() { Status = TaskStatus.Done, Name = "Meeting - Idea Champion" }
                    ]
                },
                new ProjectModel
                {
                    Name = "TinaCMS",
                    Tasks =
                    [
                        new() { Status = TaskStatus.Done, Name = "Email - TinaCMS - UX Roadmap - Chewing the Fat 📈" }
                    ]
                }
            ],
            YesterdaysTasks = [
                new TaskModel { Status = TaskStatus.Done, Name = "Email - EasyLeave - Project Approval and Kick-Off" },
                new TaskModel { Status = TaskStatus.Done, Name = "Email - Clean Architecture Workshop - Agenda Review" },
                new TaskModel { Status = TaskStatus.Todo, Name = "Domain Model - Re-Design" },
                new TaskModel { Status = TaskStatus.Done, Name = "Meeting - Idea Champion" },
                new TaskModel { Status = TaskStatus.Done, Name = "Email - TinaCMS - UX Roadmap - Chewing the Fat 📈" }
            ],
            TodaysProjects = [
                new ProjectModel
                {
                    Name = "EasyLeave",
                    Tasks =
                    [
                        new() { Status = TaskStatus.Todo, Name = "Email - EasyLeave - Architecture Review" },
                        new() { Status = TaskStatus.Todo, Name = "Meeting - Project kick off" },
                        new() { Status = TaskStatus.Todo, Name = "Setup Team" }
                    ]
                },
                new ProjectModel
                {
                    Name = "EagleEye",
                    Tasks =
                    [
                        new() { Status = TaskStatus.Todo, Name = "Meeting - Refinement" },
                        new() { Status = TaskStatus.Todo, Name = "Review - Ricks Design for history job" },
                        new() { Status = TaskStatus.Todo, Name = "Email - SSW.EagleEye Repo - Visibility" }
                    ]
                },
                new ProjectModel
                {
                    Name = "YakShaver",
                    Tasks =
                    [
                        new() { Status = TaskStatus.Todo, Name = "Review - Isabel's PR" },
                        new() { Status = TaskStatus.Todo, Name = "Review - GitHub auth work" }
                    ]
                }
            ],
            TodaysTasks = [
                new TaskModel { Status = TaskStatus.Todo, Name = "Email - EasyLeave - Architecture Review" },
                new TaskModel { Status = TaskStatus.Todo, Name = "Meeting - Project kick off" },
                new TaskModel { Status = TaskStatus.Todo, Name = "Setup Team" },
                new TaskModel { Status = TaskStatus.Todo, Name = "Meeting - Refinement" },
                new TaskModel { Status = TaskStatus.Todo, Name = "Review - Ricks Design for history job" },
                new TaskModel { Status = TaskStatus.Todo, Name = "Email - SSW.EagleEye Repo - Visibility" },
                new TaskModel { Status = TaskStatus.Todo, Name = "Review - Isabel's PR" },
                new TaskModel { Status = TaskStatus.Todo, Name = "Review - GitHub auth work" }
            ]
        };
    }

}
