@page "/daily-scrum"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Daily Scrum</PageTitle>

<h1>Daily Scrum</h1>

<p>Let's make the daily scrum great again.</p>

<a href="daily-scrum/preview" class="btn btn-primary">Generate Email</a>
