@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to Daily Scrum EmailR</h1>
    <img class="mt-4 img-fluid" src="https://i.imgflip.com/9dzgbz.jpg" title="made at imgflip.com"/>
</div>
