<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Daily Scrum | @ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    <link rel="stylesheet" href="~/WebUI.styles.css" asp-append-version="true"/>

    @* <meta charset="utf-8"/> *@
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0"/> *@
    @* <base href="/"/> *@
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="app.css"/>
    @* <link rel="stylesheet" href="WebUI.styles.css"/> *@
    <link rel="icon" type="image/png" href="favicon.png"/>
</head>
