<!DOCTYPE html>
<html lang="en">

<body>

<partial name="_Header"/>

<div class="page">
    <div class="sidebar">
        <partial name="_NavMenu"/>
    </div>

    <main>
        <div class="top-row px-4">
            <partial name="_LoginPartial"/>
        </div>

        <article class="content px-4">
            @RenderBody()
        </article>
    </main>
</div>

<partial name="_Footer"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
