<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Index">DailyScrum EmailR</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <a asp-page="/Identity/Index"  class="nav-link">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Identity
            </a>
        </div>

        <div class="nav-item px-3">
            <a asp-page="/TimeSheet/Index" class="nav-link">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Timesheet Notes
            </a>
        </div>

        <div class="nav-item px-3">
            <a asp-page="/DailyScrum/Index" class="nav-link">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Daily Scrum
            </a>
        </div>

    </nav>
</div>
