@page
@model IndexModel
@{
ViewData["Title"] = "Daily Scrum";
}
<h1>@ViewData["Title"]</h1>

<style>
    ul {
        list-style-type: disc;
    }
</style>

<p>Daily Scrum Generator</p>

<h3>Hi SSWBenchMasters,</h3>

<ul>
    <li>I have ♾️ days until my next client booking.</li>
    <li>I have 77 emails in my inbox</li>
    <li>My Trello board is at Daniel Mackay - SSW Backlog | Trello</li>
    <li>I have joined my Daily Scrum meeting ✅</li>
</ul>

<h3>Yesterday I worked on:</h3>

<ul>
    <li>EasyLeave</li>
    <ul>
        <li>✅ Email - EasyLeave - Project Approval and Kick-Off</li>
    </ul>

    <li>SAW</li>
    <ul>
        <li>✅ Email - Clean Architecture Workshop - Agenda Review</li>
        <li>Domain Model - Re-Design</li>
    </ul>

    <li>Brainstorming</li>
    <ul>
        <li>Meeting - Idea Champion</li>
    </ul>

    <li>✅ Email - TinaCMS - UX Roadmap - Chewing the Fat 📈</li>
</ul>

<h3>Today I'm Working On:</h3>

<ul>
    <li>EasyLeave</li>
    <ul>
        <li>Email - EasyLeave - Architecture Review</li>
        <li>Meeting - Project kick off</li>
        <li>Setup Team</li>
    </ul>

    <li>EagleEye</li>
    <ul>
        <li>Meeting - Refinement</li>
        <li>Review - Ricks Design for history job</li>
        <li>Email - SSW.EagleEye Repo - Visibility</li>
    </ul>

    <li>YakShaver</li>
    <ul>
        <li>Review - Isabels PR</li>
        <li>Review - GitHub auth work</li>
    </ul>
</ul>

<p>
    &lt;This email was sent as per <a href="https://my.sugarlearning.com/SSW/items/8291">https://my.sugarlearning.com/SSW/items/8291</a> /&gt;
</p>
