@model IEnumerable<WebUI.Features.DailyScrum.Domain.Project>

<ul>
    @foreach (var project in Model.Where(p => !p.IsSystemProject))
    {
        <li>@project.Name</li>
        <ul>
            @foreach (var task in project.Tasks)
            {
                <li>@task.DisplayName</li>
            }
        </ul>
    }

    @foreach (var project in Model.Where(p => p.IsSystemProject))
    {
        @foreach (var task in project.Tasks)
        {
            <li>@task.DisplayName</li>
        }
    }
</ul>
