@page "/daily-scrum/edit-tasks"
@model WebUI.Pages.DailyScrum.EditTasks

<h1>Daily Scrum - Edit Tasks</h1>

<p>The following tasks have been found. Confirm what you would like to include in your Daily Scrum.</p>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h2 class="mt-4 fw-light text-danger">Yesterday</h2>

            @for (int i = 0; i < Model.YesterdaysProjects.Count; i++)
            {
                var project = Model.YesterdaysProjects[i];
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3 class="mt-2 fw-light fst-italic">@project.Name</h3>

                <input type="hidden" asp-for="YesterdaysProjects[i].Name">

                @for (int j = 0; j < Model.YesterdaysProjects[i].Tasks.Count; j++)
                {
                    var task = Model.YesterdaysProjects[i].Tasks[j];
                    <div class="form-check">
                        <input type="hidden" asp-for="YesterdaysProjects[i].Tasks[j].Id">
                        <input type="hidden" asp-for="YesterdaysProjects[i].Tasks[j].Name">
                        <input asp-for="YesterdaysProjects[i].Tasks[j].Include" class="form-check-input">
                        <label class="form-check-label" asp-for="YesterdaysProjects[i].Tasks[j].Include">
                            @task.Name
                        </label>
                    </div>
                }
            }

            <h2 class="mt-4 fw-light text-danger">Today</h2>

            @for (int i = 0; i < Model.TodaysProjects.Count; i++)
            {
                var project = Model.TodaysProjects[i];
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3 class="mt-2 fw-light fst-italic">@project.Name</h3>

                <input type="hidden" asp-for="TodaysProjects[i].Name">

                @for (int j = 0; j < Model.TodaysProjects[i].Tasks.Count; j++)
                {
                    var task = Model.TodaysProjects[i].Tasks[j];
                    <div class="form-check">
                        <input type="hidden" asp-for="TodaysProjects[i].Tasks[j].Id">
                        <input type="hidden" asp-for="TodaysProjects[i].Tasks[j].Name">
                        <input asp-for="TodaysProjects[i].Tasks[j].Include" class="form-check-input">
                        <label class="form-check-label" asp-for="TodaysProjects[i].Tasks[j].Include">
                            @task.Name
                        </label>
                    </div>
                }
            }

            <button type="submit" class="mt-4 btn btn-primary">Submit</button>
        </form>
    </div>
</div>
