@using WebUI.Features.DailyScrum.Queries
<ul>
    <li>I have @ViewModel.DaysUntilNextBooking days until my next client booking.</li>
    <li>I have @ViewModel.InboxCount emails in my inbox</li>
    <li>My Trello board is at <a href="@ViewModel.TrelloBoardUrl">Daniel Mackay - SSW Backlog | Trello</a></li>
    <li>I have joined my Daily Scrum meeting ✅</li>
</ul>

@code {
    [Parameter] public required UserSummaryViewModel ViewModel { get; set; }
}
