@page "/timesheet"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using System.Net
@inject NavigationManager NavigationManager

<PageTitle>Timesheet Notes</PageTitle>

<h1>Timesheet Notes</h1>

<p>Let's make the timesheets great again.</p>

<EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit" FormName="generate">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group" style="margin-bottom: 20px">
        <label for="date">Date:</label>
        <InputDate id="date" class="form-control" @bind-Value="Model.Date"/>
    </div>

    <div class="form-group" style="margin-bottom: 20px">
        <label for="accessToken">Access Token:</label>
        <InputText id="accessToken" class="form-control" @bind-Value="Model.AccessToken"/>
        <span>Acquire token from <a href="https://developer.microsoft.com/en-us/graph/graph-explorer" target="_blank">Microsoft Graph Explorer</a></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Notes</button>
</EditForm>

@code {
    [SupplyParameterFromForm] private InputModel Model { get; set; } = new();

    private void HandleValidSubmit()
    {
        // NOTE: This throws an exception, but apparently it's expected 🤦
        // https://github.com/dotnet/aspnetcore/issues/50478

        var accessToken = WebUtility.UrlEncode(Model.AccessToken);

        var url = $"/timesheet/notes?date={Model.Date.ToString("O")}&accessToken={accessToken}";
        NavigationManager.NavigateTo(url, true);
    }

    public class InputModel
    {
        [Required]
        public DateOnly Date { get; set; } = DateOnly.FromDateTime(DateTime.Now);

        [Required]
        public string AccessToken { get; set; } = String.Empty;
    }
}
