@page "/timesheet"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager

<PageTitle>Timesheet Notes</PageTitle>

<h1>Timesheet Notes</h1>

<p>Let's make the timesheets great again.</p>

<EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit" FormName="generate">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group" style="margin-bottom: 20px">
        <label for="date">Date:</label>
        <InputDate id="date" class="form-control" @bind-Value="Model.Date"/>
    </div>

    <button type="submit" class="btn btn-primary">Create Notes</button>
</EditForm>

@code {
    [SupplyParameterFromForm] private InputModel Model { get; set; } = new();

    private void HandleValidSubmit()
    {
        // NOTE: This throws an exception, but apparently it's expected 🤦
        // https://github.com/dotnet/aspnetcore/issues/50478

        var url = $"/timesheet/notes?date={Model.Date.ToString("O")}";
        NavigationManager.NavigateTo(url, true);
    }

    public class InputModel
    {
        [Required]
        public DateOnly Date { get; set; } = DateOnly.FromDateTime(DateTime.Now);
    }
}
